@media screen and (max-width: 767px) {
    th, td {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 10px;
    }
    thead tr {
        position: absolute;
    }
    
}